body {
    flex-direction: column;
}

.slide-container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #ffffff;
    flex-direction: column;
    overflow-y: auto;
    box-sizing: border-box;
    
    z-index: 1;
}
