{% extends "spotify_wrapped/slides/base.html" %}

{% block body %}
  <div class="container">
    <h1>Your Top Artists</h1>
    <div class="artists-grid">
      <!-- Artist 1 -->
        {% for artist in user_info.top_artists %}
          <div class="artist-card">
            <div class="artist-image">
              <img src="{{ artist.image }}" alt="Artist 1">
              <span class="artist-number">1</span>
            </div>
            <div class="artist-name" id="artist">{{ artist.name }}</div>
          </div>
        {% endfor %}

    </div>
  </div>


{% endblock %}