{% extends "spotify_wrapped/slides/base.html" %}

{% block body %}
    <div class="container">
        <div class="content">
            <script>console.log("{{user_info.users|escapejs}}")</script>
            <h1 class="line line-1">hello 
                {% for user in user_info.users %}
                {{user.display_name}}
                {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </h1>
            <h2 class="line line-2">it's wrapped time.</h2>
            <h3 class="line line-3">are you ready?</h3>
        </div>
    </div>

{% endblock %}
