{% extends "spotify_wrapped/slides/base.html" %}

{% block body %}

{% load static %}
<script>
    function loadGameJs() {
	const script = document.createElement('script');
	script.src = "{% static 'spotify_wrapped/js/game.js' %}";
	script.defer = true;
	script.onload = function() {
	    console.log('game.js loaded successfully after p5.js');
	};
	document.body.appendChild(script);
    }

    albums = "{{ user_info | escapejs }}"
    albums = JSON.parse(albums).arr;
    console.log(albums);
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.min.js" 
    async defer onload="loadGameJs()"></script>
{%  endblock %}
