{% extends "spotify_wrapped/slides/base.html" %}

{% block body %}

{% load static %}
<div class="menu-modal hidden" id="startGame">
    <h1>Snake Wrapped</h1>
    <p>
	How well do you know your music? If the
	snake eats the cover of the song playing, 
	you move on. The wrong one, and you lose.
	Good Luck!
    </p>
    <div class="menu_modal-button">Begin?</div>
</div>

<div class="menu-modal hidden" id="lostGame">
    <h1>You Lost</h1>
    <p>
        Looks like you weren't listening carefully enough. Better luck next time!
    </p>
    <div class="menu_modal-button">Try Again?</div>
</div>

<div class="menu-modal hidden" id="wonGame">
    <h1>You Win!</h1>
    <p>
	You really know your music! Nice job winning the game.
	You deserve a relaxing break. Consider yoga, tai chi, or 
	<a href="https://www.youtube.com/watch?v=3ct68JZKsZ8" target="_blank">
	    this.
	</a>
    </p>
    <div class="menu_modal-button">Play Again?</div>
</div>

<script>
    function loadGameJs() {
        const script = document.createElement('script');
        script.src = "{% static 'spotify_wrapped/js/games.js' %}";
        script.defer = true;
        script.onload = function() {
            console.log('game.js loaded successfully after p5.js');
            createGame();
        };
        document.body.appendChild(script);
    }

    function remove_games_slide() {
        document.getElementById("games").remove();
        const sb = document.getElementById("status-bar");
        sb.children[sb.children.length-1].remove();
        document.getElementById("p5_loading").remove();
        document.querySelector("main").remove();
    }

    window.albums = [];
    {% for album in user_info.top_albums %}
        window.albums.push({
            "name": "{{ album.0 }}",
            "tracks": [
                {% for track in album.1 %}
                    {
                        "album_image": "{{track.album_image}}",
                        "preview_url": "{{track.preview_url}}",
                    },
                {% endfor %}
                ],
        });
    {% endfor %}

    const winGameLink = "{% static 'spotify_wrapped/assets/game-win.mp3' %}"
    const loseGameLink = "{% static 'spotify_wrapped/assets/game-loss.mp3' %}"
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.min.js" 
    async defer onload="loadGameJs()"></script>
{%  endblock %}
