{% extends "spotify_wrapped/slides/base.html" %}

{% block body %}
  <div class="container">
    <h1>Your Top Genres</h1>
    <div class="genres-list">
      {% if user_info.top_genres|length == 5 %}
          <div class="genre-row genre1">
            <span class="genre-number">1</span>
            <span class="genre-name">{{ user_info.top_genres.0.0 }}</span>
          </div>
          <div class="genre-row genre2">
            <span class="genre-number">2</span>
            <span class="genre-name">{{ user_info.top_genres.1.0 }}</span>
          </div>
          <div class="genre-row genre3">
            <span class="genre-number">3</span>
            <span class="genre-name">{{ user_info.top_genres.2.0 }}</span>
          </div>
          <div class="genre-row genre4">
            <span class="genre-number">4</span>
            <span class="genre-name">{{ user_info.top_genres.3.0 }}</span>
          </div>
          <div class="genre-row genre5">
            <span class="genre-number">5</span>
            <span class="genre-name">{{ user_info.top_genres.4.0 }}</span>
          </div>
      {% endif %}

      {% if user_info.top_genres|length == 4 %}
            <div class="genre-row genre1">
                <span class="genre-number">1</span>
                <span class="genre-name">{{ user_info.top_genres.0.0 }}</span>
              </div>
            <div class="genre-row genre2">
                <span class="genre-number">2</span>
                <span class="genre-name">{{ user_info.top_genres.1.0 }}</span>
            </div>
            <div class="genre-row genre3">
                <span class="genre-number">3</span>
                <span class="genre-name">{{ user_info.top_genres.2.0 }}</span>
            </div>
            <div class="genre-row genre4">
                <span class="genre-number">4</span>
                <span class="genre-name">{{ user_info.top_genres.3.0 }}</span>
            </div>

      {% endif %}

      {% if user_info.top_genres|length == 3 %}
          <div class="genre-row genre1">
            <span class="genre-number">1</span>
            <span class="genre-name">{{ user_info.top_genres.0.0 }}</span>
          </div>
          <div class="genre-row genre2">
            <span class="genre-number">2</span>
            <span class="genre-name">{{ user_info.top_genres.1.0 }}</span>
          </div>
          <div class="genre-row genre3">
            <span class="genre-number">3</span>
            <span class="genre-name">{{ user_info.top_genres.2.0 }}</span>
          </div>
      {% endif %}

      {% if user_info.top_genres|length == 2 %}
          <div class="genre-row genre1">
            <span class="genre-number">1</span>
            <span class="genre-name">{{ user_info.top_genres.0.0 }}</span>
          </div>
          <div class="genre-row genre2">
            <span class="genre-number">2</span>
            <span class="genre-name">{{ user_info.top_genres.1.0 }}</span>
          </div>
      {% endif %}

      {% if user_info.top_genres|length == 1 %}
          <div class="genre-row genre1">
            <span class="genre-number">1</span>
            <span class="genre-name">{{ user_info.top_genres.0.0 }}</span>
          </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

