{% extends "spotify_wrapped/slides/base.html" %}

{% block body %}
  <div class="container">
    <h1>Your Top Genres</h1>
    <div class="genres-list">
      <div class="genre-row genre1">
        <span class="genre-number">1</span>
        <span class="genre-name">Genre One</span>
      </div>
      <div class="genre-row genre2">
        <span class="genre-number">2</span>
        <span class="genre-name">Genre Two</span>
      </div>
      <div class="genre-row genre3">
        <span class="genre-number">3</span>
        <span class="genre-name">Genre Three</span>
      </div>
      <div class="genre-row genre4">
        <span class="genre-number">4</span>
        <span class="genre-name">Genre Four</span>
      </div>
      <div class="genre-row genre5">
        <span class="genre-number">5</span>
        <span class="genre-name">Genre Five</span>
      </div>
    </div>
  </div>
{% endblock %}
