<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Wrapped</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Use a fun, Spongebob-inspired font -->
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'spotify_wrapped/styles/cover.css' %}">
    {% block stylesheet %}{% endblock %}
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <h1 class="line1">hello <span id="username">[Username]</span></h1>
            <h2 class="line2">it's wrapped time.</h2>
            <h3 class="line3">are you ready?</h3>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const username = 'Patrick';  // Replace with dynamic username logic if needed
            document.getElementById("username").textContent = username;
        });
    </script>
</body>
</html>