{% extends "spotify_wrapped/base.html" %}
{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static "spotify_wrapped/styles/home.css" %}">
{% endblock %}

{% block content %}
    {% if user.id is None %}
        <a href="{% url 'spotify_wrapped:login' %}">Log In</a>
    {% else %}
        <image src="{{ user.pfp }}" alt="{{ user.display_name }} profile picture"></image>
        <h1>{{ user.display_name }}</h1>

        <ul>
        {% for track in top_tracks %}
            <ul>
                <image src="{{ track.album_image }}" alt="{{ track.album_name }} cover"></image>
                <li>Track: {{ track.name }}</li>
                <li>Album: {{ track.album_name }}</li>
            </ul>
        {% endfor %}
        </ul>
        
        
        <audio src="{{ audio_link }}" hidden="" autoplay=""></audio>
    {% endif %}
    
    </ul>
    
    <!-- Display Top Genres -->
{% if top_genres %}
    <h2>Top Genres</h2>
    <ul>
        {% for genre, count in top_genres %}
            <li>{{ forloop.counter }}. {{ genre|title }} - Count: {{ count }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No genres available.</p>
{% endif %}


<!-- Display Suggested Genres -->
        {% if suggested_genres %}
            <h2>Suggested Genres</h2>
            <ul>
                {% for genre in suggested_genres %}
                    <li>{{ genre|title }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No genres available.</p>
        {% endif %}

{% endblock %}