{% extends "spotify_wrapped/base.html" %}
{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'spotify_wrapped\styles\home.css' %}">
{% endblock %}

{% block content %}
    {% if user_info.user.id is None %}
        <a href="{% url 'spotify_wrapped:login' %}">Log In</a>
    {% else %}
        <img src="{{ user_info.user.pfp }}" alt="{{ user_info.user.display_name }} profile picture"></img>
        <h1>{{ user_info.user.display_name }}</h1>

        <ul>
        {% for track in user_info.top_tracks %}
            <li><ul>
                <li><img src="{{ track.album_image }}" alt="{{ track.album_name }} cover"></img></li>
                <li>Track: {{ track.name }}</li>
                <li>Album: {{ track.album_name }}</li>
            </ul></li>
        {% endfor %}
        </ul>

        <audio src="{{ user_info.audio_link }}" hidden="" autoplay=""></audio>

        <!-- Display Top Genres -->
        <h2>Top Genres</h2>
        <ul>
            {% for genre, count in user_info.top_genres %}
                <li>{{ genre }} - Count: {{ count }}</li>
            {% endfor %}
        </ul>

       <!-- Display Suggested Tracks -->
        <h2>Suggested Tracks</h2>
        <ul>
            {% for track in user_info.suggested_tracks %}
                <li>{{ track.name }} - {{ track.artists }}</li>
            {% endfor %}
        </ul>


        <h2>What your music says about you!</h2>
        <ul>
            {% for personality in user_info.personality %}
                <li>{{ personality.capitalize }}</li>
            {% endfor %}
        </ul>
        <h2>What your music taste in colors</h2>
        <div style="width: 100px; height: 100px; background-color: #3498db;"></div>
    {% endif %}
{% endblock %}