<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'spotify_wrapped/styles/profile.css' %}">
    {% block stylesheet %}{% endblock %}
    <title>Spotify Wrapped Profile</title>
</head>
<body>
    <header>Spotify Wrapped</header>
    <nav>
        <a href="https://sites.google.com/view/atlantafoodfindergroup9/our-scrum-process">Team Website</a>
        <a href="{% url 'spotify_wrapped:meetDevs' %}">Contact Developers</a>
        <a href="{% url 'spotify_wrapped:logout' %}">Log Out</a>
    </nav>

    <div class="container">
        <div class="content-wrapper">
            <div class="create-new">
                <h2>Delete Account</h2>
                <a href="{% url "spotify_wrapped:delete_account" %}" class="button">
                    Delete Account
                </a>
            </div>
                <div class="divider"></div>
            <div class="create-new">
                <h2>Create a New Wrapped</h2>
                <form action="{%url "spotify_wrapped:wrap" %}" class="create-button-form">
                    <label for="time_range">Wrap Time Range</label>
                    <select name="time_range">
                        <option value="short_term">Short Term</option>
                        <option value="medium_term" selected>Medium Term</option>
                        <option value="long_term">Long Term</option>
                    </select>
                    <input type="submit" value="Create New Wrap" class="button">
                </form>
            </div>
            <div class="divider"></div>
            <div class="past-wrappeds">
                <h2>Past Wrappeds</h2>
		{% if wraps is None %}
			<p>No past wrappeds available.</p>
		{% else %}
                <div class="wrap-table">
                    {% for wrap in wraps %}
                    <div class="wrap-table-wrap">
                        <p>{{wrap.id}}</p>
                        <div class="wrap-table-links">
                            <a href="{% url "spotify_wrapped:wrapped"%}?uuid={{wrap.id}}">
                                View
                            </a>
                            <a href="{% url "spotify_wrapped:delete_wrap"%}?uuid={{wrap.id}}">
                                Delete
                            </a>
                            <a href="#" data-id="{{wrap.id}}" class="duo-wrap-link">Duo Wrap</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <script>
                    const links = document.getElementsByClassName("duo-wrap-link")
                    for (const link of links) {
                        const root = window.location.origin;
                        const duo_wrap_link = "{% url "spotify_wrapped:duo_wrap" %}";
                        const uuid = link.dataset.id;
                        link.addEventListener("click", () => {
                            navigator.clipboard.writeText(
                                `${root}${duo_wrap_link}?uuid=${uuid}`
                            );
                            alert("Duo Wrapped Link copied to clipboard");
                        })
                    }
                </script>
                {% endif %}
	    </div>
	</div>
    </div>
</body>
</html>
